* {
  box-sizing: border-box;
}

body {
  background: #141414;
  color: #ffffff;
}


/* Headers (The Shoppies Nominees & My Nominees */
.header {
  font-family: 'Oswald', sans-serif;
  padding: 25px 0 25px 0;
}


/* Welcome Message */
.welcome{
  position: relative;
  text-align: center;
  color: white;
  z-index: 999;
  font-weight: bold;
  font-size: x-large;
}


/* Enables horizontal scrolling */
.movieScroll > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movieTitleText{
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.movieTitleText > p {
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieImage > img{
  width: 275px;
  height: 425px;
  border-radius: 10px;
} 

.searchBar{
  max-width: 400px;
  margin-right: 9%;
}


/* Container that holds movie posters */
.image-container{
  position: relative;
  transition: transform 0.3s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover #overlay{
  opacity: 1;
}


/* Nominate and Remove Nomination Option */
#overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  width: 100%;
  transition: 0.5s ease;
  top: 70%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

#overlay > span:hover{
  background: #ffffff 
  -webkit-gradient(linear, 100% 0, 0 0, from(#ffffff), color-stop(0.1, gold), to(#ffffff));
  background-position: 4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: notification;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 8rem 100%;
  
}
@keyframes overlay {
    0% {
        background-position: -4rem top;
    }
    100% {
        background-position: 12.5rem top;
    }
}

#overlay:active{
  background: #F7EB33;
  color: #000000;
}


/* Notice shown to those who choose 5 movies */
.notification{
  position: relative;
  font-weight: bold;
  background-color: #000000;
  border: 2px solid gold;
  border-radius: 15px;
  color: white;
  z-index: 999;
  text-align: center;
  margin: 15px 15px 11px 15px;
  padding: 15px 15px 11px 15px;
  font-size: 24px;
  background: #ffffff 
  -webkit-gradient(linear, 100% 0, 0 0, from(#ffffff), color-stop(0.5, gold), to(#ffffff));
  background-position: 4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: notification;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
}

@keyframes notification {
    0% {
        background-position: -4rem top;
    }

    100% {
        background-position: 60.5rem top;
    }
}


/* Notice shown to those who go over 5 movies */
.notification-over{
  position: relative;
  font-weight: bold;
  background-color: #cc0000;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  z-index: 999;
  text-align: center;
  margin: 15px 15px 5px 15px;
  padding: 15px 15px 5px 15px;
  font-size: 22px;
  -webkit-animation-name: notification-over; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: notification-over;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes notification-over {
  0%   {background-color: #cc0000;}
  50%  {background-color: #800000;}
  100% {background-color: #cc0000;}
}

/* Standard syntax */
@keyframes notification-over {
  0%   {background-color: #cc0000;}
  50%  {background-color: #800000;}
  100% {background-color: #cc0000;}
}


.hide{
  display: none;
}


/* Breakpoints */
@media screen and (max-width: 1024px){
  .movieScroll > .row {
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movieTitleText > p {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .movieImage > img{
    width: 150px;
    height: 225px;
  } 
  
  .searchBar{
    right: 0;
    margin-right: 0;
    max-width: 400px;
  }

  #overlay{
    top: 43%;
    font-size: 16px;
  }

  .welcome{
    margin: 25px 0 25px 0;
    padding: 15px 0 15px 0;
    font-weight: bold;
    font-size: large;
  }

  .notification{
    margin: 25px;
    padding: 15px 10px 0 10px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid gold;
    color: white;
  }
  
  .notification-over{
    margin: 25px;
    padding: 15px 25px 15px 25px;
    font-weight: bold;
    font-size: 18px;
  }
}


@media screen and (max-width: 940px){
  .welcome{
    font-size: medium;
    padding: 0 25px 0 25px;
  }
}