* {
  box-sizing: border-box;
}

body {
  background: #141414;
  color: #ffffff;
}

.movieScroll > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movieTitleText{
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.movieTitleText > p {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieImage > img{
  width: 300px;
  height: 450px;
} 

.searchBar{
  max-width: 400px;
  margin-right: 9%;
}

.image-container{
  position: relative;
  transition: transform 0.3s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover #overlay{
  opacity: 1;
}

#overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  width: 100%;
  transition: 0.5s ease;
  top: 70%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.hide{
  display: none;
}